<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="row">
	  <div flex="10"></div>
	  <div flex="90">
		<h1>account delete view</h1>		
		<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{accountsDestroy.account.username}}</span>
            <p> Role: {{accountsDestroy.account.role}}</p>
			<p>Create at: {{accountsDestroy.account.create_at}}</p>
			<p>Update at:{{accountsDestroy.account.update_at}}</p>
			<p>User id: {{accountsDestroy.account.user_id}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised" ng-click="">Cancel</md-button>
          <md-button class="md-raised" ng-click="">Confirm</md-button>
        </md-card-actions>

        </md-card>

	  </div>
	</div>
</div>

<footer-directive></footer-directive>