<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="row">
	  <div flex="10"></div>
	  <div flex="90">
		<h1>bill show view</h1>
		
		<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{billsShow.bill.account_id}}</span>
            <p> Role: {{billsShow.bill.tickets_id}}</p>
			<p>Create at: {{billsShow.bill.amount_id}}</p>
			<p>Update at:{{billsShow.bill.create_at}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="billsShow.go('bills-update',billsShow.bill.id)">Update</md-button>
          <md-button class="md-raised md-warn" ng-click="billsShow.go('bills-destroy',billsShow.bill.id)">Destroy</md-button>
        </md-card-actions>
        
      </md-card>					
					
	  </div>
	</div>
</div>

<footer-directive></footer-directive>