<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="row">
	  <div flex="10"></div>
	  <div flex="90">
		<h1>advertisement delete view</h1>
		<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{advertisementsDestroy.advertisement.name}}</span>
            <p> Role: {{advertisementsDestroy.advertisement.content}}</p>
			<p>Create at: {{advertisementsDestroy.advertisement.create_at}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="advertisementsDestroy.goo()">Cancel</md-button>
          <md-button class="md-raised md-warn" ng-click="Confirm">Confirm</md-button>
        </md-card-actions>
        
      </md-card>					
					
	  </div>
	</div>
</div>

<footer-directive></footer-directive>