<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="column" layout-padding layout-margin layout-fill>
		<md-toolbar>
	  		<div class="md-toolbar-tools">
				<h1>Detalle de Ticket</h1>
	  		</div>
	  	</md-toolbar>
		<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">{{ticketsShow.ticket.status_id}}</span>
			<p><span class="md-subhead">Descripción:</span> {{ticketsShow.ticket.description}}</p>
            <p><span class="md-subhead">Monto:</span> {{ticketsShow.ticket.amount}}</p>
			<p><span class="md-subhead">Status:</span> {{ticketsShow.ticket.create_at}}</p>
			<p><span class="md-subhead">Direccion IP:</span> {{ticketsShow.ticket.ip}}</p>
			<p><span class="md-subhead">Fecha Creación:</span> {{ticketsShow.ticket.create_at}}</p>
            <p><span class="md-subhead">Tickect Columna:</span> {{ticketsShow.ticket.ticketcol}}</p>
			<p><span class="md-subhead">Cuenta:</span> {{ticketsShow.ticket.account_id}}</p>
			<p><span class="md-subhead">Monto:</span>	 {{ticketsShow.ticket.amount_id}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="ticketsShow.go('tickets-update',ticketsShow.ticket.id)">Actualizar</md-button>
          <md-button class="md-raised md-warn" ng-click="ticketsShow.go('tickets-destroy',ticketsShow.ticket.id)">Eliminar</md-button>
        </md-card-actions>
      </md-card>					
	</div>
</div>

<footer-directive></footer-directive>