<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
<sidenav-directive></sidenav-directive>
	<div layout="column" layout-padding layout-margin layout-fill>
		<md-toolbar>
	  		<div class="md-toolbar-tools">
				<h1>Registrar un ticket</h1>
	  		</div>
	  	</md-toolbar>
		<div>
			<md-input-container class="md-block">
				<label>No. Targeta </label>
				<input type="text">
			</md-input-container class="md-block">
		</div>
		<div>
			<md-input-container class="md-block">
				<label>Cod. Seguridad </label>
				<input type="text">
			</md-input-container>
		</div>
		<div>
			<md-input-container>
				<label>Ingrese la fecha</label>
				<md-datepicker ng-model="ticketsStore.store.fecha"></md-datepicker>			
			</md-input-container>
		</div>
		<div>
			<md-input-container class="md-block">
				<label>Nombre targeta</label>
				<md-select ng-model="ticketsStore.ticket.targetaSeleciona" arial-label="Seleccionar">
              		<md-option ng-repeat="item in ticketsStore.ticket.targeta" value="{{$index}}">
                	{{item}}
              		</md-option>
            	</md-select>
			</md-input-container>
		</div>
		<div>
			<md-input-container class="md-block">
				<label>Cedula o Rif</label>
				<input type="text">
			</md-input-container>
		</div>
		<div>
			<md-input-container>
				<md-select ng-model="ticketsStore.ticket.amount" arial-label="Seleccionar">
					<md-option ng-repeat="item in ticketsStore.tickets" value={{$index}}>
						{{item.name}}
					</md-option>
				</md-select>
			</md-input-container>	
		</div>
		<div>
			<md-button class="md-raised md-warn" ui-sref="ticket-index">
			Cancel</md-button>
			<md-button class="md-raised md-accent" type="submit">Submit</md-button>
		</div>
	</div>
</div>

<footer-directive></footer-directive>