<navbar-directive></navbar-directive>

<div flex layout="row">
	<sidenav-directive></sidenav-directive>
	<div layout="row">
	  <div flex="10"></div>
	  <div flex="90">
		<h1>article index view</h1>
		<md-content>
			<md-list flex>
				<md-list-item class="md-2-line" ng-repeat="item in articlesIndex.articles" ng-click="articlesIndex.go('articles-show',item.id)">
					<p>{{item.id}}</p>
					<p>{{item.name}}</p>
				</md-list-item>
			</md-list>
		</md-content>
	  </div>
	</div>
</div>

<footer-directive></footer-directive>