.r1{
   width: 75px;
   height: 75px;
   background:#FF2C00;
}
.r2{
   width: 75px;
   height: 75px;
   background:#9E330E;
}
.r3{
   width: 75px;
   height: 75px;
   background:#D36060;
}
.g1{
   width: 75px;
   height: 75px;
   background:#34D800;
}
.g2{
   width: 75px;
   height: 75px;
   background:#4CAF50;
}
.g3{
   width: 75px;
   height: 75px;
   background:#8BC34A;
}
.b2{
   width: 75px;
   height: 75px;
   background:#0B5FA5;
}
.b1{
   width: 75px;
   height: 75px;
   background:#2196F3;
}
.b3{
   width: 75px;
   height: 75px;
   background:#06799F;
}

