<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="column" layout-padding layout-margin layout-fill>
		<md-toolbar>
	  		<div class="md-toolbar-tools">
				<h1>Detalle de Cuentas</h1>
	  		</div>
	  	</md-toolbar>
		<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">{{accountsShow.account.username}}</span>
            <p><span class="md-subhead">Role:</span>  {{accountsShow.account.role}}</p>
			<p><span class="md-subhead">Create at:</span> {{accountsShow.account.create_at}}</p>
			<p><span class="md-subhead">Update at:</span> {{accountsShow.account.update_at}}</p>
			<p><span class="md-subhead">User id:</span> {{accountsShow.account.user_id}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="accountsShow.go('accounts-update',accountsShow.account.id)">Actualizar</md-button>
          <md-button class="md-raised md-warn" ng-click="accountsShow.go('accounts-destroy',accountsShow.account.id)">Eliminar</md-button>
        </md-card-actions>
        
      </md-card>					
					


	</div>
</div>

<footer-directive></footer-directive>