<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="column" layout-padding layout-margin layout-fill>
		<md-toolbar>
	  		<div class="md-toolbar-tools">
				<h1>Eliminar Ticket</h1>
	  		</div>
	  	</md-toolbar>
		<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ticketsDestroy.ticket.description}}</span>
			<p><span class="md-subhead">Descripción:</span> {{ticketsDestroy.ticket.description}}</p>
            <p><span class="md-subhead">Monto:</span> {{ticketsDestroy.ticket.amount}}</p>
			<p><span class="md-subhead">Status:</span> {{ticketsDestroy.ticket.create_at}}</p>
			<p><span class="md-subhead">Direccion IP:</span> {{ticketsDestroy.ticket.ip}}</p>
			<p><span class="md-subhead">Fecha Creación:</span> {{ticketsDestroy.ticket.create_at}}</p>
            <p><span class="md-subhead">Tickect Columna:</span> {{ticketsDestroy.ticket.ticketcol}}</p>
			<p><span class="md-subhead">Cuenta:</span> {{ticketsDestroy.ticket.account_id}}</p>
			<p><span class="md-subhead">Monto:</span>	 {{ticketsDestroy.ticket.amount_id}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="ticketsDestroy.goo()">Cancel</md-button>
          <md-button class="md-raised md-warn" ng-click="">Confirm</md-button>
        </md-card-actions>
      </md-card>					
	</div>
</div>

<footer-directive></footer-directive>