<navbar-directive></navbar-directive>

<div flex layout="row">
	<sidenav-directive></sidenav-directive>
	<div layout="row">
	  <div flex="10"></div>
	  <div flex="90">
		<h1>Response index view</h1>
		<md-content>
			<md-list flex>
				<md-list-item class="md-3-line" ng-repeat="item in responsesIndex.responses" ng-click="responsesIndex.go('responses-show',item.id)">
					<p>{{item.id}}</p>
					<p>{{item.success}}</p>
					<p>{{item.code}}</p>
				</md-list-item>
			</md-list>
		</md-content>
	  </div>
	</div>
</div>

<footer-directive></footer-directive>
