<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="column" layout-padding layout-margin layout-fill>
		<md-toolbar>
	  		<div class="md-toolbar-tools">
				<h1>Eliminar Monto</h1>
	  		</div>
	  	</md-toolbar>
		<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{amountsDestroy.amount.name}}</span>
            <p><span class="md-subhead">Monto:</span>	 {{amountsDestroy.amount.number}}</p>
			<p><span class="md-subhead">Fecha Creación:</span> {{amountsDestroy.amount.create_at}}</p>
			<p><span class="md-subhead">Fecha Actualización:</span> {{amountsDestroy.amount.update_at}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="amountsDestroy.goo()">Cancelar</md-button>
          <md-button class="md-raised md-warn" ng-click="Confirm">Confirmar</md-button>
        </md-card-actions>
      </md-card>					
	</div>
</div>

<footer-directive></footer-directive>