<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="row">
	  <div flex="10"></div>
	  <div flex="90">
		<h1>amount show view</h1>
		
		<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{amountsShow.amount.name}}</span>
            <p> Role: {{amountsShow.amount.number}}</p>
			<p>Create at: {{amountsShow.amount.create_at}}</p>
			<p>Update at:{{amountsShow.amount.update_at}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="amountsShow.go('amounts-update',amountsShow.amount.id)">Update</md-button>
          <md-button class="md-raised md-warn" ng-click="amountsShow.go('amounts-destroy',amountsShow.amount.id)">Destroy</md-button>
        </md-card-actions>
        
      </md-card>					
					
	  </div>
	</div>
</div>

<footer-directive></footer-directive>