<md-toolbar md-whiteframe="4" layout="row">
	<div class="md-toolbar-tools" layout-align="space-around center">
		<div>
			{{::staticsHome.title}}
		</div>
		 
		<div>
			<md-input-container>
				<label>Username</label>
				<md-icon class="fa fa-user"></md-icon>
				<input ng-model="login.username" type="text" placeholder="Username">
			</md-input-container>
			
			<md-input-container>
				<label>Password</label>
				<md-icon class="fa fa-key"></md-icon>
				<input ng-model="login.password" type="text" placeholder="Password">
			</md-input-container>

			<md-button class="md-raised md-accent">Login</md-button>
			<md-button class="md-raised md-warn">Register</md-button>
		</div>
	</div>
</md-toolbar>