<md-toolbar class="navbar" md-whiteframe="2" layout="row">
	<div class="md-toolbar-tools" layout-align="space-around center">
	
	<!--	<md-button class="md-fab md-hue-2" aria-label="logo">
		</md-button>
	-->	
			<md-icon md-svg-src="assets/img/index.svg" style="width: 50px; height: 50px;"></md-icon>
			
		<div ng-if="navbarDirective.role">
			{{navbarDirective.role}}
		</div>
		 
		<div ng-show="navbarDirective.guest">
			<md-input-container md-no-float>
				<md-icon class="fa fa-user"></md-icon>
				<input ng-disabled="navbarDirective.disable" ng-model="navbarDirective.form.username" type="text" placeholder="Username">
			</md-input-container>
			
			<md-input-container md-no-float>
				<md-icon class="fa fa-key"></md-icon>
				<input ng-disabled="navbarDirective.disable" ng-model="navbarDirective.form.password" type="text" placeholder="Password">
			</md-input-container>

			<md-checkbox ng-model="navbarDirective.form.cookie" aria-label="do not sign out"></md-checkbox>

			<md-button class="md-raised md-accent" ng-click="navbarDirective.login()">Login</md-button>
			<md-button class="md-raised md-warn" ui-sref="accounts-store">Register</md-button>
		</div>
	</div>
</md-toolbar>