<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	
	<div flex="20"></div>
	<div flex>
		<h2>Registro de Cuentas</h2>
		<form ng-submit="accountsStore.register()">
			<div>
				<md-input-container>
					<label>Username</label>
					<input type="text" ng-model="accountsStore.form.username" required>
				</md-input-container>
			</div>
			<div>
				<md-input-container>
					<label>Password</label>
					<input type="password" ng-model="accountsStore.form.password" required>
				</md-input-container>
			</div>
			<div>
				<md-input-container>
					<label>Re-Password</label>
					<input type="password" ng-model="accountsStore.form.repassword" required>
				</md-input-container>
			</div>
			<div>
				He leido todos los terminos y consiciones
				<md-input-container>
					<md-switch ng-model="accountsStore.bandera">Conforme: {{accountsStore.bandera ? "Si": "No"}}</md-switch>
				</md-input-container>
			</div>
			<div>
				<md-button class="md-raised md-warn" ui-sref="estatico-home">Cancel</md-button>
				<md-button class="md-raised md-accent" type="submit">Submit</md-button>
			</div>
		</form>
		<h2>Términos y condiciones.</h2>
		
			<ol>	
				<li>Todas las personas para ser parte de ésta empresa de Capitalización “Uno Noveno Noventa C.A,” deberán registrarse primero en una Base de Datos (COMUNIDAD LATINOAMERICANA DE INNOVACIÓN CREATIVA), enviando sus reseñas personales tales como: nombres y apellidos, cédula de identidad, teléfono de contacto y ésta información deberá ser enviada desde el correo personal de cada quien, al correo ordenderegistro2016@gmail.com , ya que del mismo se van tomar  ordenadamente los referidos,  para ser ubicados por nivel en la estructura de “Uno Noveno Noventa, C.A.”</li>
				<li>Para la suscripción de “ Uno Noveno Noventa, C.A,” se deberá enviar el Voucher  escaneado por un monto de Bs 1.125, por concepto de inversión inicial (único pago generado de nuestro bolsillo),  acompañado de la Planilla de Registro que será llenada y enviada al correo de la empresa:  unn.sistemaproyectovenezuela@gmail.com,</li>
				<li>El ingreso de las personas a la matriz, será  en forma horizontal, una al lado de la otra, para ir cerrando nivel por nivel, garantizándose así el éxito de todo el equipo de  manera equitativa y simultánea.</li>
				<li>Todas las personas que cierren una matriz generan un  resultado inmediato de un 378% sobre la inversión que se haga en cada una de las matrices, la empresa descuenta el costo de la siguiente matriz para una reinversion automática y quedar ciclando en las mismas, generando ingresos residuales (VER ANEXO 1). Considerando que cada persona deberá de invertir nuevamente la cantidad inicial para abrir una nueva posición dentro de la ESTRUCTURA cambiando de usuario, esto se podrá hacer todas las veces que sea posible o que deseamos, para ayudar otros a ganar y crear un efecto cascada (ganar, ganar.). </li>
				<li>Como los niveles se van a cerrar de forma horizontal, las personas que se refieran no  necesariamente van a quedar debajo de sus patrocinadores, más bien lo que se va a generar es una consolidación en todo el equipo,  produciéndose  un modo de apalancamiento entre todos y cada uno de los miembros de la ESTRUCTURA, ya que estamos permitiendo que el SISTEMA trabaje para nosotros.</li>
				<li>Cuando publiquen su link personal de la empresa en las redes sociales  o se lo envíen a través del correo electrónico a familiares y amigos para que se registren,  el SISTEMA, primero lo va a enviar  a una base de datos u orden de registro y luego el Boucher de pago y los datos  personales  lo enviará  al correo de la EMPRESA. </li>
				<li>Es vital que cada persona contacte como mínimo a dos referidos mayores de edad, con el objeto de hacer crecer la organización lo más rápido posible, bajos los lineamientos anteriormente citados.</li>
				<li>N0 existe ninguna restricción en la manera como el afiliado desee publicar dicho PROYECTO, es más exhorto que el mismo sea extendido a toda persona que desee mejorar su calidad de vida sin distinción de raza y credo.</li>
				<li>La filosofía de ésta empresa es ayudar a muchas personas, ya que por largo tiempo no las han valorado, más bien han desaprovechado ese potencial, creyendo que es el producto de una empresa, lo que produce el dinero, cuando lo que realmente genera el dinero, es la gente.  En esta empresa el producto principal son las personas, el potencial humano es lo más valioso para nosotros, por eso el afán de construir principalmente una inmensa  COMUNIDAD  , para desarrollar  con éxito éste SISTEMA, donde  los ingresos sean de forma horizontal, uno al lado del otro, para que los resultados sean colectivos y muchas personas comiencen a obtener sus ganancias simultáneamente a corto plazo.</li>
			</ol>
		
		<p>Sin otro particular a que hacer referencia,</p>     
		
		<p>Atentamente,</p>
		
		<p>José M. Ruiz </p>
		
		<p>Saludos, bendiciones y éxitos para todos.</p>
	</div>
	<div flex="20"></div>
</div>

<footer-directive></footer-directive>