<md-sidenav 
   class="md-sidenav-left sideNav"
   md-component-id="left"
   md-is-locked-open="$mdMedia('gt-md')"
   md-whiteframe="4">
   <div layout="column" layout-padding class="all">
      <md-button class="md-raised">Accounts</md-button>
      <md-button class="md-raised">Advertisements</md-button>
      <md-button class="md-raised">Articles</md-button>
      <md-button class="md-raised">Bills</md-button>
      <md-button class="md-raised">Documents</md-button>
      <md-button class="md-raised">Tickets</md-button>
      <md-button class="md-raised">User</md-button>
      <md-button class="md-raised">Static</md-button>
      <md-button class="md-raised">Vouchers</md-button>
   </div>
</md-sidenav>