<section layout="row" flex layout-fill>
   <md-sidenav 
      class="md-sidenav-left sideNav"
      md-component-id="fff"
      md-whiteframe="4">
      <div layout="column" layout-padding class="all">
         <md-button class="md-raised" ng-click="sidenavDirective.fan()">Cerrar</md-button>
         <md-button class="md-raised" ng-click="sidenavDirective.home()">Inicio</md-button>
         <md-button class="md-raised" ng-click="sidenavDirective.logout()">Salir</md-button>
      </div>
   </md-sidenav>
</section>