<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="row">
	  <div flex="10"></div>
	  <div flex="90">
		<h1>article delete view</h1>
		<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{articlesDestroy.article.name}}</span>
            <p> Role: {{articlesDestroy.article.content}}</p>
            <p> Role: {{articlesDestroy.article.name_photo}}</p>
			<p>User id: {{articlesDestroy.article.path_photo}}</p>
			<p>Create at: {{articlesDestroy.article.create_at}}</p>
			<p>Update at:{{articlesDestroy.article.update_at}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="articlesDestroy.goo()">Cancel</md-button>
          <md-button class="md-raised md-warn" ng-click="">Confirm</md-button>
        </md-card-actions>
        
      </md-card>					
					
	  </div>
	</div>
</div>

<footer-directive></footer-directive>