<navbar-directive></navbar-directive>

<div layout="row" layout-aling="center">
	<sidenav-directive></sidenav-directive>
	<div layout="column" layout-padding layout-margin layout-fill>
		<md-toolbar>
	  		<div class="md-toolbar-tools">
				<h1>Eliminar Articulo</h1>
	  		</div>
	  	</md-toolbar>
		<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{articlesDestroy.article.name}}</span>
            <p><span class="md-subhead">Contenido:</span> {{articlesDestroy.article.content}}</p>
            <p><span class="md-subhead">Fecha Creación:</span> {{articlesDestroy.article.name_photo}}</p>
			<p><span class="md-subhead">Fecha Actualización:</span> {{articlesDestroy.article.path_photo}}</p>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="articlesDestroy.goo()">Cancelar</md-button>
          <md-button class="md-raised md-warn" ng-click="">Confirmar</md-button>
        </md-card-actions>
      </md-card>					
	</div>
</div>

<footer-directive></footer-directive>